<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="css/pico.classless.jade.min.css" />
    <title>A Website</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><h1>A Website... Eventually</h1></li>
        </ul>
        <ul>
          <li>
            <h2><a href="#">About</a></h2>
          </li>
          <li>
            <h2><a href="#">Notes</a></h2>
          </li>
          <li>
            <h2><a href="#">Projects</a></h2>
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
