<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="{{ get_url(path='css/pico.classless.jade.min.css') }}"
    />
    <title>A Website</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><h1>A Website... Eventually</h1></li>
        </ul>
        <ul>
          <li>
            <h2><a href="{{ config.base_url }}">About</a></h2>
          </li>
          <li>
            <h2><a href="{{ get_url(path='@/notes/_index.md') }}"">Notes</a></h2>
          </li>
        </ul>
      </nav>
      <hr>
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
